/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --color-fondo: #F5F5F5;
   --color-de-link: #000;
   --gray:#EDEDED;
   --title-color:#5AA5C2;
   --color-fondo-light: #EAF2FD;
   --color-click:#FFFFFF
   --text-color:black;
   --white: #FFFFFF;
}


body {
    box-sizing: border-box;
    background-color: var(--color-fondo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0; 
    line-height: 1;
}
ol, ul,li {
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}

h3{
    color: var(--text-color);
}


/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
.tudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


section.menu{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;        
  
}

.menu__header{         
    display: flex;           
    align-items: center;        
}

.menu__header img{
    width: 30px;
    height: 30px;
    padding-right: 16px;
}

.menu__title{
    animation-name: change_text_color;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;  
    animation-delay: 1s;   

}

@keyframes change_text_color{
    0%{color: var(--title-color);}
    50%{color:#83dee0;}
    100%{color:var(--title-color);}
}


nav{
    width: 60%;   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu__list{   
    display: none;
}

.menu__list__item__contato{
    color: var(--text-color);
}
/*Sección Title*/

section.title{    
    width: 90%;
    padding-top: 48px;     
}


.title__div{
    width: 100%;
    display: flex;  
    flex-direction: column;    
}


.title__profile{
    width: 40%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.title__bio{
    color: var(--title-color);
    
}

.title__container{
    width: 100%;
    color: var(--text-color);
}
.title__subsection{
    font-weight: 100;
    font-size: 16px;
    line-height:1.2;
    text-align: justify;
}
.title__network{
    width:100%;
    display: flex;
    justify-content: space-around;    
}

.title__network img{
    width: 9px;
    height: 9px;
}


.title__network__item{
    padding-right: 4px;
    padding-top: 16px;
}

.title__network__item:last-child a{
    animation-name: change_text_color;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    padding: 4px;
    border: 1px solid var(--title-color);    
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}




/*Sección About*/

section.about{
    width: 100%;
    background-color: var(--color-fondo-light);
    animation: size linear both;
    animation-timeline:view();
    animation-range: entry 20% cover 50%;     
}

.about__container{   
    width: 90%;
    margin: 0 auto; 
    color: var(--text-color);  
}


.about__paragraph{  
    text-align: justify;
    line-height: 1.2;
    font-size: 14px;

}

/*Sección skills*/
section.skills, section.hobbies{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
    animation: size linear both;
    animation-timeline:view();
    animation-range: entry 20% cover 50%;     
    
}

.skills__img span{
    font-size: 50px;    
}

.material-icons{
    color: var(--title-color);         
}

.skills__line, .hobbies__line{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    gap: 24px;        
}



.skills__box, .hobbies__box{
    display: flex;
    width: 180px;
    height: 118px;
    flex-grow: 2;
    background-color: var(--color-fondo-light);
    color: var(--text-color);
    border-style: dotted;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skills__box ul, .hobbies__box ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    gap: 16px;
    padding: 16px;
    margin: 16px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;    
}

/* Experiencia Académica*/

section.academic{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: size linear both;
    animation-timeline:view();
    animation-range: entry 20% cover 50%;   
}

@keyframes size{
    from{
        scale: 0.8;
        translate: 0 30px;  
        opacity: 0.5;
        
    }
    to{
        scale:1;        
        translate: 0 0px;
        opacity: 1;

    }
}

.academic__courses{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;    
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--color-fondo-light);
    color: var(--text-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
}

.academic__courses__box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 330px;   
}

.academic__courses__item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.academic__courses__item__img img{
    width:80%;   
}

.academic__courses__item__title h4{
    margin: 8px 0 8px 0;
    padding-top: 8px;
}

/* experiencia*/

section.experience{
    width: 90%;
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 32px;
    
}

.experience__section__title{
    align-self: center;
}

.experience__box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;      
    color: var(--text-color); 
}

.experience__img{
    animation: reveal linear both ;
    animation-timeline:view();
    animation-range: entry 20% cover 50%;    
}


@keyframes reveal{
    from{
        opacity:0;
        translate: 0 100px;
    }
    to{
        opacity: 1;
        translate: 0 0px;
    }

}

.experience__img{
    max-width: 80%;
    height: auto;
    align-self: center;    
    
}

.experience__title{
    font-size: 18px;
}

.experience__text{
    font-weight: 100;
}

.experiencia__botao--repo, .experience__botao--demo, .formcontato__botao {
    width: 120px;
    height: 40px;
    margin-right: 8px;
    padding: 0;
    border-radius: 25px;
    transition-property: scale;  
    transition-duration:3s;  
    font-size: 16px;
}

.experiencia__botao--repo{
    color: var(--title-color);
    border: 1px solid var(--title-color);
    background-color: var(--color-fondo);       
}


.experience__botao--demo, .formcontato__botao{
    color:var(--white);
    background-color: var(--title-color);
    border: none;
}
.formcontato__botao{
    margin-top: 8px;   

}

.experience__repo button:hover, .experience__demo button:hover, .formcontato__botao:hover{
    cursor: pointer;
    transform: scale(1.1);
}
 
/*Contacto*/

section.formcontato{
    width: 100%;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: size linear both;
    animation-timeline:view();
    animation-range: entry 10% cover 30%;  
    color: var(--text-color);
    padding-top: 32px;
}

.formcontato__contacto{
    width: 90%;       
}

.formcontato--esquerda{
    display: none;
}
.formcontato__subtext{
    font-weight: 100;
    text-align: justify;
}

.formcontato__form{       
    display: flex;
    flex-direction: column;
    gap: 8px;    
}

.formcontato__input{
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 16px;    
    font-family: 'Raleway';
}

.formcontato__input::placeholder{
    font-size: 16px;
}

.formcontato__textarea{
    border: none;
    resize: none;
    width: 90%;
    height: 100px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 16px;        
    font-family: 'Raleway';
}

.formcontato__textarea::placeholder{
    font-size: 16px;
}


/*footeer*/

section.footer{
    width: 100%;   
    margin-top: 48px;    
    border-top: dotted;
    color: var(--text-color);
}

.footer__rodape{
    text-align: center ;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */




/*Tablet*/
@media (min-width: 768px){
/* Menú */
    .menu__list__item__contato{
        font-weight: 800;
    }

    .title__div{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .title__profile{
       width: 30%; 
       padding-bottom:8px;
    }

    .title__container{
        width: 60%;    
      
    }

    .academic__courses{  
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: center;  
        gap: 8px;  
    }
    .academic__courses__box{    
        width: 220px;
    }
    .academic__courses__item__img{     
        height: 200px;
   }

   .academic__courses__item__img img{     
        width: 45%
   }

   .experience__img{
        width: 60%;    
    }

    section.skills, section.hobbies{
        animation-range: entry 5% cover 100%;

    }
    
    .section.formcontato{  
        animation-range: entry 5% cover 100%;     
    }    
}

/*Mobile*/
@media (min-width: 1280px) {    

/*Menu*/    
    nav{        
        justify-content: space-between;     
    }

    .menu__list{     
        width: 100%;      
        display: flex; 
        justify-content: space-between;
        padding-right: 24px;
    }       

    .title__bio{
        font-size: 48px;
    }

    .title__network{
        width: 80%;
    }

    .title__network a{
        font-size: 24px;
    }
    .title__subsection{
        font-size: 22px;
    }

    .about__title, .skills__title, .hobbies__title, .experience__section__title, .academic__title{
        margin-top: 100px;
        padding-top: 80px;
        font-size: 30px;
    }
    .formcontato{
        margin-top: 100px;
        padding-top: 80px;

    }

    .about__paragraph{
        width: 60%;
        font-size: 20px;    
    }

    .skills__line, .hobbies__line{
        justify-content: center;
    }   

    .skills_line .hobbies__name, .hobbies__line .hobbies__name{
        font-size: 20px;
    }
    .skills__box{
        width: 320px;   
        height: 200px;                   
   }

   .skills__img span{
        font-size: 80px;
}

   .hobbies__box{
        width: 160px;
        height: 200px; 
   }
    .academic__courses__item__img{     
        height: 250px;
   }

   .academic__courses__list h4{
        font-size: 22px;
        padding-top: 12px;
   }

   .academic__courses__list p{
        font-size: 20px;
   }

   .experience__section__title{
        padding-top: 8px;
   }
    
    .experience__box{
        flex-direction: row-reverse;  
        align-items: center;
        gap: 16px;
   }

    .experience__box:nth-child(2n){
        flex-direction: row;  

   }
    .experience__img{
       width:30%;         
    }  

    .experiencia__botao--repo, .experience__botao--demo, .formcontato__botao {        
        width: 140px;
        height: 60px;
        font-size: 20px;
    }
   
    .formcontato--esquerda{
        display: block;       
        width: 40%;                
    }

    .formcontato__img{
        width: 100%;
        margin: auto auto;
    }

  
    .formcontato__contacto{
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;  
        align-items: center;     
        gap: 20px; 
        justify-content: center;
    }

    .formcontato__input::placeholder, .formcontato__textarea::placeholder{
        font-size: 20px;   
    }

    .formcontato__input,  .formcontato__textarea{
        font-size:22px;       
    }  
   
    .formcontato__text{
        display: flex;
        flex-direction: column;        
    }
    section.about, section.skills, section.hobbies{        
        animation-range: entry 20% cover 40%;     
    } 

}

.dark-mode{
    --color-fondo:#1B1D1E;
    --text-color:#C1CCCF;
    --color-fondo-light:#293032;
    --color-de-link: white;
    --title-color:#5AA5C2;
}